* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,
li {
    list-style: none;
}
a {
    color: #333;
    text-decoration: none;
}
.area{
    width: 100%;
    height: 1000px;
}
#area1{
    background: url(../images/attachment/1.png) no-repeat center;
}